@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply  bg-gray-700
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  position: fixed;
  width: 100%;
  height: px-2;
}

@layer components {
  .btn-navbar {
    @apply bg-gray-800 hover:bg-gray-900 font-bold py-2 px-7 m-2 rounded text-white align-middle;
  }

  .btn-refresh {
    @apply bg-gray-800 hover:bg-gray-900 font-bold py-2 px-4 m-2 rounded-full text-white align-middle fixed right-0
  }

  .navbar {
    @apply bg-gray-600 font-bold py-4 text-white w-56
  }

  .search-bar {
    @apply bg-gray-700 font-bold py-2 px-4 m-2 rounded text-white w-56
  }
  
  .tagbar {
    @apply bg-gray-800 w-60 h-screen fixed top-14
  }

  .post {
    @apply rounded text-white w-40 h-fit m-2 grid flex-wrap justify-center bg-gray-800
  }

  .pool {
    @apply border border-gray-800 rounded text-white w-full h-fit m-2
  }

  .post-image {
    @apply rounded border-2
  }

  .postveiw {
    @apply top-14 left-60 absolute
  }

  .pools {
    @apply top-14 absolute
  }

  .tag {
    @apply px-2 m-1 text-sm bg-gray-700 hover:bg-gray-900 font-semibold rounded
  }

  .page-controll-button {
    @apply bg-gray-800 hover:bg-gray-900 py-0 px-3 text-white
  }

  .page-number {
    @apply bg-gray-800 py-0 px-3 text-white
  }

  .e6-font {
    @apply font-bold text-white 
  }

  .settings-nav {
    @apply bg-gray-800 w-60 h-screen fixed top-14 grid grid-cols-1
  }

  .btn-settings-nav {
    @apply bg-gray-700 hover:bg-gray-600 font-bold py-1 px-14 m-2 rounded text-white grid justify-center items-center h-10
  }

  .defualt-icons {
    @apply relative flex items-center justify-center;
  }
}