@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply  bg-cool-gray-2
}

.posts {
  display: flex;
  flex-wrap: wrap;
}

.navbar {
  position: fixed;
  width: 100%;
}

@layer components {
  .btn-navbar {
    @apply bg-cool-gray-3 hover:bg-cool-gray-2 font-bold py-2 px-7 m-2 rounded text-white align-middle
  }

  .btn-refresh {
    @apply bg-cool-gray-3 hover:bg-cool-gray-2 font-bold py-2 px-4 m-2 rounded-full text-white align-middle fixed right-0
  }

  .search-bar {
    @apply bg-cool-gray-2 font-bold py-2 px-4 m-2 rounded text-white w-56
  }
  
  .tagbar {
    @apply bg-cool-gray-3 w-60 h-screen fixed top-14
  }

  .post {
    @apply border border-cool-gray-0 rounded text-white w-40 h-fit m-2 grid flex-wrap justify-center
  }

  .post-image {
    @apply rounded
  }

  .postveiw {
    @apply top-14 left-60 absolute
  }

  .tag {
    @apply px-2 m-1 text-sm
  }

  .page-controll-button {
    @apply bg-cool-gray-3 hover:bg-cool-gray-2 py-0 px-3 text-white
  }

  .page-number {
    @apply bg-cool-gray-3 py-0 px-3 text-white
  }
}